* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%); 
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
     
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
     
}

 

.logo {
     height: auto;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
    margin-top: 40px;
}

.mockups {
    flex: 1;
    max-width: 700px;
    margin-left: 60px;
}

.mockups img {
    margin-left:80px;
    width: 100%;   
    height: auto; 
 
}

.content {
    flex: 1;
    max-width: 520px;
}

h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 25px;
     
}
 h1 br,
 p br {
    display:none;
 }
p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 30px;
}

.Reg {
    background-color: white;
    color: hsl(257, 40%, 49%);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.Reg:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border: 1.5px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}
 
@media (max-width: 768px) {
 
        
    body {
  
   
    background-image: url("images/bg-mobile.svg");
    background-position: top center ;  
   
   
}
     
    header {
       padding: 30px 0 0 30px;
     }
    
    .logo {
        width: 140px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;  
        justify-content: space-between;
         
    }
     
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center; 
    }

    .mockups {
        margin-left:0;
    }

    .mockups img {
        width: 90%;
        height: auto;
        margin:0 auto;
     }

    .content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 24px;
        line-height: 1.4;
    }

    h1 br,
    p br {
        display: inline; 
    }
    p {
        font-size: 16px;
        line-height: 1.5;
    }

    .Reg {
        width: 100%;
        max-width: 280px;
    }

    .social-icons {
        margin-top:5px;
        justify-content: center;
         
    }

    .social-icons a {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
}

/* Support for very small screens (320px+) */
@media (max-width: 375px) {
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
     
    }
}